.top-bar {
	position: absolute;
	width: 100%;
	height: 70px;
	left: 0px;
	top: 0px;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.background-rect {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: -27%;

	/* Topbar */
	background: var(--topbar-color);
}

/* Pokédex */
#pokedex {
	position: absolute;
	width: 253px;
	height: 70px;
	left: 135px;
	top: 8px;

	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;
	display: flex;
	align-items: center;

	color: var(--primary-color);
}
