.column {
  float: left;
}

.left {
  width: 80%;
}

.right {
  width: 20%;
  align-content: flex-end;
}

.row {
  position: absolute;
  right: 10%;
  top: 2px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

input[type=text] {
  width: 200px;
  height: 30px;

  font-family: Open Sans;
  font-size: 18px;
  line-height: 0px;
  display: block;
  align-items: center;
  padding-left: 8px;
  padding-right: 20px;

  background-color: var(--primary-color);
  overflow: hidden;
  border-radius: 40px;
  border: hidden;
}

input[type=text]:focus {
  outline: none;
}

.button {
  margin-left: 12px;
  transition: 0.1s;

  width: 30px;
  height: 30px;

  /* Black */
  background: var(--black);
  border-radius: 40px;
  border: none;
}

.button:hover {
  background: var(--medium-gray);
}

.button:active {
  background: var(--faint-gray);
}
