input[type=text] {
  position: absolute;
  width: 358px;
  height: 70px;
  left: 50%;
  top: 8px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  display: block;
  align-items: center;
  padding: 8px 20px;

  background-color: var(--primary-color);
  overflow: hidden;
  border-radius: 40px;
  border: hidden;
}

input[type=text]:focus {
  outline: none;
}

.button {
  transition: 0.s;

  position: absolute;
  width: 70px;
  height: 70px;
  left: 80%;
  top: 8px;

  /* Black */
  background: var(--black);
  border-radius: 40px;
  border: none;
}

.button:hover {
  background: var(--bs-gray-900);
}

.button:active {
  background: var(--bs-gray-700);
}
