/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary-color);
}

main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.full-size {
    width: 100%;
    float: left;
    position: relative;
}

:root {
    --topbar-color: #eb4760;
    --primary-color: #f3f5f7;
    --gainsboro: #dae0e7;
    --black: #000000;
    --half-gray: #808080;
    --medium-gray: #292929;
    --faint-gray: #525252;
    --stat-green: #256a29;
}

.grass {
  background-color: #95da99;
}

.poison {
  background-color: #ab9ba5;
}

.fire {
  background-color: #f5a560;
}

.fighting {
  background-color: #f0a094;
}

.water {
  background-color: #aec9d6;
}

.normal {
  background-color: #e0e0e0;
}

.rock {
  background-color: #8a7946;
}

.ground {
  background-color: #c3926f;
}

.bug {
  background-color: #c0eb84;
}

.electric {
  background-color: #ffe985;
}

.ghost {
  background-color: #716bb3;
}

.fairy {
  background-color: #ffc8C2;
}

.psychic {
  background-color: #fc9cf9;
}

.steel {
  background-color: #8bbbbb;
}

.ice {
  background-color: #beddee;
}

.dragon {
  background-color: #577399;
}

.flying {
  background-color: #9fbcd1;
}

.dark {
  background-color: #614c42;
}
