/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary-color);
}

main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.full-size{
    width: 100%;
    float: left;
    position: relative;
}

:root {
    --topbar-color: #eb4760;
    --primary-color: #f3f5f7;
    --black: #000000;
    --half-gray: #808080;
}
